//Colors
$sc_red: #fb3037;
$white: #fff;
$black: #000;
$light_gray: #ccc;
$mid_gray: #929292;
$dark_gray: #555;
$charcoal: #222;
$off_white: #fafafa;
$ultra_light_gray: #f5f5f5;
$extra_light_gray: #efefef;
$green: #00aa00;

//Fonts
$oswald: 'Oswald', Arial, Helvetica, sans-serif;
$opensans: 'Open Sans', Arial, Helvetica, sans-serif;
$opensans_condensed: 'Open Sans Condensed', Arial, Helvetica, sans-serif;